:root {
  --background-inventory: #ffce96;
  --background-cell: #eb6b6f;
  --border-cell: #f9a875
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /*background: #565a75;*/
  background: url(../assets/image/bg.jpg);
  background-size: 366px 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn {
  position: absolute;
  margin-top: 20%;
  height: 70vh;
  width: 60%;
  opacity: 0;
}

.shop {
  display: none;
  position: relative;
  height: 80%;
  width: 90%;
  background: var(--background-inventory);
  border-radius: 5px;
  z-index: 2;
}

.shop h1 {
  font-family: monospace;
  width: 80%;
  text-align: center;
  padding: 10px 0;
  margin: 10% 100px 10px 10%;
  color: var(--background-cell);
  border-top: 3px solid var(--background-cell);
  border-bottom: 3px solid var(--background-cell);
}

.shop ul {
  height: 70%;
  overflow: scroll;
  position: relative;
  list-style: none;
  padding: 10px;
}

.shop li {
  position: relative;
  border-radius: 3px;
  background: var(--border-cell);
  margin: 5px;
  padding: 10px;
  overflow: hidden;
}

.shop li p {
  color: #444;
}

.shop li span {
  font-family: monospace;
  margin-top: 20px;
  position: absolute;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shop li span button {
  color: #fff;
  background: #ba5044;
  position: relative;
  height: 20px;
  width: 40px;
  border: none;
}

.shop li img {
  position: absolute;
  right: 5%;
  top: 3px;
  border-radius: 3px;
  border: 1px solid var(--background-cell);
  background: var(--background-inventory);
}

.shop li:nth-child(1) img {
  width: 20px;
  height: 20px;
  padding: 5px;
}
.shop li:nth-child(3) img {
  width: 10px;
  height: 10px;
  padding: 10px;
}

.shop li:nth-child(6) img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.close-button {
  background: var(--background-cell);
  border: none;
  font-size: 20px;
  border-radius: 4px;
  margin: 5px;
  position: absolute;
  right: 0;
  height: 25px;
  width: 25px;
}

#coin {
  font-family: monospace;
  position: relative;
  top: 10px;
  margin: 10px;
  padding: 0 5px;
  border-radius: 3px;
  background: var(--border-cell);
  border: 2px solid var(--background-cell);
}

#submarine {
  right: 65px;
  top: 25px;
  position: absolute;
  height: 100px;
  width: 100px;
  opacity: .8;
  z-index: 1;
}
.pop{
  animation: pop 1.7s;
}

.portal{
  opacity: 0;
  right: 65px;
  top: 25px;
  width: 100px;
  height: 100px;
  background: #444;
  border-radius: 100%;
  position: absolute;
}
.a-portal{
  animation: portal 2s ease-out,portal reverse 1s 2s ease-out;
}

@keyframes pop {
  0% {
    opacity: 0;
    scale: 0;
    transform: translateY(-50px);
  }
  
  60% {
    opacity: 0;
    scale: 0;
    transform: translateY(-50px);
  }
 
  100% {
    opacity: .8;
    scale: 1;
    transform: translateY(0);
  }
}
@keyframes portal {
  0% {
    opacity: .8;
    scale: 0;
  }

  100% {
    opacity: .8;
    scale: 1;
  }
}